################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Archivos de compilación
build/
dist/
*.spec
__pycache__/

# Archivos temporales
*.pyc
*.log

# Drivers descargados por webdriver-manager
.wdm/

# Archivos del sistema
.DS_Store
Thumbs.db